/*********************************************
**********************************************
                ENG-UK
*********************************************
*********************************************/
body.i18n-eng-uk{
	.onlyUK{
		display:block;
	}
	.noUK{
		display: none;
	}

	p.pitip{
		margin-top: 20px;
		font-size: 13px;
		height: 68vh;
	}
	ul.nav.navbar-nav{
		background-color: rgba(255,255,255,.8);
		li:nth-child(2){
			font-weight: bold;
		}
	} 
	.whiteBox{
		a{
			sup{
				position: relative;
				top: -5px;
			}
		}
	}
	#myModal{
		.modal-dialog{
			width: 700px;
			ol{
				li{
					margin-bottom: 5px;
				}
			}
		}
	}
	#piModal, #pi_14{
		padding: 20px;
		h3{
			color: #f45700;
			text-align: center;
			font-weight: normal;
			margin-bottom: 30px;
		}
		.columns{
			-webkit-column-count: 2; /* Chrome, Safari, Opera */
		    -moz-column-count: 2; /* Firefox */
		    column-count: 2;
		    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
		    -moz-column-gap: 40px; /* Firefox */
		    column-gap: 40px;
		}
		p{
			color: #666;
			font-size:.65rem;
			text-align: justify;
			a{
				text-decoration: underline;
				color: #666;
			}
		}
		p.green{
			padding: 7px 0;
			&:before{
				content: "";
				display: block;
				width: 15px;
				height: 15px;
				border-radius: 50%;
				background-color:#0e7aa6;
				float: left;
				margin-right: 10px;
			}
		}
		p.infoBox{
			&.lightOrangeBckgrd{
				background-color: #feefe2;
				color: #666666;
				padding: 10px 20px;
				font-weight: bold;
				text-align: center;
				font-size: .75rem;
				margin-bottom: 0;
			}
			a{
				color: grey;
				text-decoration: underline;
			}
		}

	}
	#piModal{
		padding-right: 0;
		.modal-dialog{
			width: 800px;
		}
	}
	#aeModal{
		p.infoBox{
			&.lightOrangeBckgrd{
				background-color: #feefe2;
				color: #000;
				padding: 10px 20px;
				font-weight: bold;
				text-align: center;
				font-size: .75rem;
				margin-bottom: 0;
			}
			a{
				color: grey;
				text-decoration: underline;
			}
		}
	}

	#intro_00{
		.paralaxElements{
			background-image: url('img/eng-uk/bgd-intro.jpg?1');
			background-size: cover;
		}
	}

	#emotion_01{
		min-height: 900px;
		h2{
			margin-bottom: 21em;
			margin-top: 0;
		}
		p.legend{
			margin-top: 10px;
		}
		.paralaxElements{
			background-image: url('img/eng-uk/bgd-01.jpg?12');
			background-size: cover;
			.orangeBubble{
				background-image: url('img/eng-uk/emotion_orange-bubble.png?123');
				background-size: cover;
			}
			.greyBubble{
				background-image: url('img/eng-uk/emotion_grey-bubble.png?123');
				background-size: cover;
			}
		}
	}

	#howmany_02{
		.paralaxElements{
			background-image: url('img/eng-uk/bgd-02.jpg?123');
			background-size: cover;
		}
		.blc{
			#slider span.ui-slider-handle.onresults:before{
				background: url('img/eng-uk/dragBtn.png?12');
			}
			.indicator{
				position: relative;
				top: -35px;
				width: 80%;
				margin: 0 auto;
				z-index: 1;
				span{
					display: none;
					position: relative;
					text-align: left;
					font-weight: bold;
					color: #ff6903;
					&:after{
						content: "";
						display: block;
						width: 16px;
						height: 16px;
						background: url("img/eng-uk/indicator.png") top center;
						background-size: cover;
						position: relative;
						left: 2px;
					}
				}
			}
			#quizz_answer{
				span.grey{
					font-weight: normal;
					color: #666666;
					i{
						color: #ff6903;
						font-weight: bold;
					}
				}
			}
		}
	}

	#diagnose_05{
		.paralaxElements{
			background-image: url('img/eng-uk/bgd-04.jpg?123');
			background-size: cover;
		}
		a{
			text-decoration: underline !important;
		}
	}

	#treatment_06{
		.paralaxElements{
			background-image: url('img/eng-uk/bgd-05.jpg?123');
			background-size: cover;
		}
		.talk{
			display: none;
		}
	}

	#treatment_06-1{
		img{
			margin: 10px 0px;
		}
	}

	#graph_08{
		min-height: 900px;
		h2{
			margin-bottom:0;
		}
		.fishbone{
			display: none;
		}
	}

	#graph_09{
		.fishbone{
			display: none;
		}
	}

	#timeline_10{
		table.calendar{
			tr:nth-child(3){
				.greenSmBubble{
					span{
						background: transparent;
						color: #bbbbbb;
						display: inherit;
						width: inherit;
						height: inherit;
					}
				}
			}
		}
		.leftTopBubble{
			display: none;
		}
		.safetyInfo{
			display: none;
		}
	}

	#productdesc_10-1{
		ul.bubbleList{
			li span{
				font-size: 1.2rem;
			}
			li:nth-child(3){
				display: none;
			}
		}
	}


	
}

/*********************************************
**********************************************
                ITA-IT
*********************************************
*********************************************/
body.i18n-ita-it{
	.itOnly{
		display:block;
	}
	#intro_00{
		.paralaxElements{
			background-image: url('img/ita-it/bgd-intro.jpg?1');
			background-size: cover;
		}
	}

	#emotion_01{
		min-height: 900px;
		h2{
			margin-bottom: 22em;
			margin-top: 0;
		}
		.paralaxElements{
			background-image: url('img/ita-it/bgd-01.jpg?12');
			background-size: cover;
			.orangeBubble{
				background-image: url('img/ita-it/emotion_orange-bubble.png?123');
				background-size: cover;
			}
			.greyBubble{
				background-image: url('img/ita-it/emotion_grey-bubble.png?123');
				background-size: cover;
			}
		}
	}

	#howmany_02{
		.paralaxElements{
			background-image: url('img/ita-it/bgd-02.jpg?123');
			background-size: cover;
		}
		.blc{
			max-width: 61%;
		}
	}

	#specialist_03{
		.doc .circle{
			width: 110px;
			line-height: 110px;
		}
	}

	#diagnose_05{
		.paralaxElements{
			background-image: url('img/ita-it/bgd-04.jpg?123');
			background-size: cover;
		}
	}

	#treatment_06{
		.paralaxElements{
			background-image: url('img/ita-it/bgd-05.jpg?123');
			background-size: cover;
		}
	}

	#how_07{
		.paralaxElements{
			background-image: url('img/ita-it/bgd-06.jpg?123');
			background-size: cover;
		}
	}

	#timeline_10{
		.calendarBubbles p {
			font-size: .7rem;
		}
	}

	section.greenSection{
		p.greenSectionText{
			display: none;
		}
		p{
			max-width: 500px;
			a{
				font-size: 1rem;
				font-weight: 400;
			}
		}
		
	}
}