/*************************************
            IPAD
*************************************/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) {
    body.i18n-ita-it{
        .container{
            &>.row{
                padding-right: 40px;
                padding-left: 70px;
            }
        }
        /*******SLIDES******/
        #specialist_04{
            .infos-products{
                .graphContainer{
                    padding: 70px 0;
                    .graph{
                        &.mediumgreen{
                            left: -30px;
                        }
                        &.darkgreen{
                            left: -65px;
                        }
                    }
                }
            }
        }
        #diagnose_05{
            min-height: 850px;
        }
        #timeline_10{
            min-height: 850px !important;
        }
    }
    body.i18n-eng-uk{
        p.pitip{
            font-size: 13px;
        }
        .container{
            .row{
                padding-right: 40px;
            }
        }

        #emotion_01{
            h2{
                margin-top: 0em;
            }
        }
        #howmany_02{
            .blc{
                transform: scale(.8);
                transform-origin: top left;

                #slider{
                    width: 80%;
                }
                #dragItem{
                    width: 80%;
                }
            }
            p.legend{
                margin-top: -45px;
            }
        }
        #treatment_06{
            #quoteBlock{
                padding-left: 5px;
                padding-right:5px;
            }
        }
        #graph_08, #graph_09{
            .v-center{
                transform: inherit;
            }
        }
        #productdesc_10-1{
            ul.bubbleList{
                li{
                    &:before{
                        top:-10px;
                        height: 25px;
                    }
                    span{
                        font-size: .9rem;
                    }
                }
            }
            p{
                strong{
                    font-size: .9rem;
                }
            }
        }
    }
    
}

/*************************************
            IPAD Portrait
*************************************/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) {
    body.i18n-ita-it{
        h2{
            span{
                display:inline-block;
                font-size: 2.4rem;
            }
        }
        /*******SLIDES******/
        #intro_00{
            .paralaxElements {
                background-image: url('img/ita-it/bgd-intro-mobile.jpg') !important;
                background-size: cover !important;
            }
        }
        #emotion_01{
            .paralaxElements{
                .orangeBubble, .greyBubble{
                    display: none;
                }
            }
        }
        #howmany_02{
            .paralaxElements{
                background-position-x: -480px;
            }
            .blc{
                max-width: 100%;
            }
        }
        #specialist_04{
            .infos-products{
                .graphContainer{
                    width: inherit;
                    height: 350px;
                }
                .infoGraph{
                    width: inherit;
                }
            }
        }
        #diagnose_05{
            min-height: 1100px;
        }
        #how_07{
            .paralaxElements{
                background-position-x: -400px;
            }
        }
        #graph_08, #graph_09, #product_11{
            .v-center{
                transform: inherit;
            }
        }
        #timeline_10{
            min-height: 700px !important;
            .row:nth-child(2){
                height: 500px;
                .calendarContainer{
                    -ms-transform: scale(.8);
                    -webkit-transform: scale(.8);
                    transform: scale(.8);
                    transform-origin: top left;
                    top: 30px;
                }
            }
        }
    }
    body.i18n-eng-uk{
        .container{
            .row{
                button.scrollToSection{
                }
            }
        }
        h2{
            span{
                display:inline-block;
                font-size: 2.4rem;
            }
        }
        nav{
            ul.nav{
                background-color: rgba(255,255,255,.9);
            }
            #navbar #lilly{
                display: none;
            }
        }
        p.pitip{
            width: 45%;
            height: 75vh !important;
        }
        #piModal{
            .modal-dialog{
                width: 650px;
            }
            .modal-body{
                height: 1580px;
            }
        }
        /*******SLIDES******/
        #intro_00{
            .paralaxElements {
                background-image: url('img/eng-uk/bgd-intro-mobile.jpg?1234') !important;
                background-size: cover !important;
            }
        }
        #emotion_01{
            .paralaxElements{
                .orangeBubble, .greyBubble{
                    display: none;
                }
            }
        }
        #howmany_02{
            .blc{
                max-width: 100%;
            }
        }
        #diagnose_05{
            .whiteBox{
                width: 80%;
                h5{
                    &:before{
                        top: -5px;
                    }
                }
            }
        }
        #treatment_06{
            .whiteBox{
                width: 90%;
            }
        }
        #graph_08{
            h2{
                span{
                    font-size: 1.8rem;
                }
            }
        }
        #timeline_10{
            min-height: 700px !important;
            .row:nth-child(2){
                height: 500px;
                .calendarContainer{
                    -ms-transform: scale(.8);
                    -webkit-transform: scale(.8);
                    transform: scale(.8);
                    transform-origin: top left;
                    top: 30px;
                }
            }
        }
        #productdesc_10-1{
            p.orange{
                width: 60%;
            }
        }
        #pi_14{
            min-height: 1900px !important;
        }
    }
    
}

/*************************************
            IPAD Landscape
*************************************/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape){
    body.i18n-eng-uk{
        p.pitip{
            height:68vh;
        }
        #emotion_01{
            min-height: 750px !important;
            h2{
                margin-bottom: 17em;
            }
        }
        #howmany_02{
            .blc{
                max-width: 75%;
            }
        }
        #treatment_06{
            .whiteBox{
                width: 70%;
            }
        }
        #graph_08{
            h2{
                span{
                    font-size: 2.4rem;
                }
            }
        }
        #pi_14{
            min-height: 1500px !important;
        }
    }
}

/*************************************
            MAX-W = 768px
*************************************/
@media screen and (max-width: 767px){
    /*******GLOBAL ******/
    body.i18n-ita-it{
        .pathhNav{
            display: none;
        }
        #navbar{
            position: absolute;
            right: 0;
            top: 50px;
        }
        h2{
            span{
                display:inline-block;
                font-size: 2rem;
                br{
                    display: none;
                }
            }
        }

        .playListVideo{
            margin-top: 15px;
            .video{
                padding: 5px 20px !important;
                a{
                    text-decoration: none;
                    display: block;
                    .row{
                        display: inherit !important;
                        padding:0 !important;
                        .videoImage{
                            display: inherit !important;
                            img{
                                width: 100% !important;
                                height: auto !important;
                                margin: 0px !important;
                            }
                        }
                        .text{
                            padding-left: 0;
                            display: inherit !important;
                        }
                    }
                }
            }
        }

        .modal{
            .modal-dialog{
                width: 95% !important;
            }
        }
        #specialist_04{
            .infos-products{
                .graphContainer{
                    width: inherit;
                    padding: 70px 0;
                    transform: scale(.8);
                    height: 300px;
                    .graph{
                        &.mediumgreen{
                            left: -30px;
                        }
                        &.darkgreen{
                            left: -65px;
                        }
                    }
                }
                .infoGraph{
                    width: inherit;
                }
            }
        }
    }
    body.i18n-eng-uk{
        font-size: 9px !important;
        .pathhNav{
            display: none;
        }
        nav{
            ul.nav{
                background-color: rgba(255,255,255,.9);
            } 
            .logo img {
                width: 50px;
            }
            #navbar #lilly{
                display: none;
            }
        }
        h2{
            span{
                display:inline-block;
                font-size: 2rem;
                br{
                    display: none;
                }
            }
        }
        p.pitip{
            width: 50%;
            font-size: 11px;
        }
        .playListVideo{
            margin-top: 15px;
            .video{
                padding: 5px 20px !important;
                a{
                    text-decoration: none;
                    display: block;
                    .row{
                        display: inherit !important;
                        padding:0 !important;
                        .videoImage{
                            display: inherit !important;
                            img{
                                width: 100% !important;
                                height: auto !important;
                                margin: 0px !important;
                            }
                        }
                        .text{
                            padding-left: 0;
                            display: inherit !important;
                        }
                    }
                }
            }
        }

        .modal{
            .modal-dialog{
                width: 95% !important;
            }
        }
        /*******SLIDES******/
        #howmany_02{
            .blc{
                max-width: 100%;
                transform: scale(.8);
                transform-origin: top left;

                #slider{
                    width: 80%;
                }
                #dragItem{
                    width: 80%;
                    background-size: cover;
                }
            }
            p.legend{
                margin-top: -45px;
            }
        }
        #graph_08, #graph_09{
            .v-center{
                transform: inherit;
            }
        }
        #productdesc_10-1{
            ul.bubbleList{
                li{
                    span{
                        font-size: .9rem;
                    }
                }
            }
            p{
                strong{
                    font-size: .9rem;
                }
            }
        }
    }
    
}

/*************************************
            iPhone 6
*************************************/
@media only screen 
  and (min-device-width: 374px) 
  and (max-device-width: 736px) { 
    body.i18n-ita-it{
        #how_07{
            p.listTitle{
                br{
                    display: none;
                }
            }
            ul{
                margin-right: 0;
            }
        }
    }
    /*******GLOBAL******/
    body.i18n-eng-uk, body.i18n-ita-it{
        .container{
            .row{
                padding-left:60px;
                padding-right:60px;
                button.scrollToSection{
                    font-size: 15px;
                    padding: .9em 1.2em;
                    margin-top: 0;
                }
            }
        }
        h2{
            font-size: 2em;
        }
        /*******SLIDES******/
        #emotion_01{
            h2{
                margin-top: 0em;
            }
        }
        #howmany_02{
            .blc{
                max-width: 100%;
                transform: scale(.8);
                transform-origin: top left;

                #slider{
                    width: 80%;
                }
                #dragItem{
                    width: 80%;
                    background-size: cover;
                }
            }
            p.legend{
                margin-top: -45px;
            }
        }
        #specialist_03{
            .row:nth-child(2){
                padding-left:0;
            }
            h2{
                line-height: 1.1;
                span{
                    font-size: 1.7em;
                }
            }
            .bullesSms{
                padding-right: 0;
                padding-left:0;
                margin-bottom: 0;
                .bulle{
                    padding:10px;
                    margin-right: 0;
                }
            }
        }
        #diagnose_05{
            .paralaxElements {
                background-image: url('img/bgd-04-mobile.jpg?1234');
                background-size: cover;
            }
            h5{
                font-size: 1.7em;
            }
        }
    }
   
}

/*************************************
            iPhone 6 Portrait
*************************************/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 736px) 
  //and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    body.i18n-ita-it{
        #intro_00{
            .paralaxElements {
                background-image: url('img/ita-it/bgd-intro-mobile.jpg?12') !important;
            }
        }
        #emotion_01{
            h2{
                margin-bottom: 24em;
            }
        }
        #howmany_02{
            .blc{
                max-width: 100%;
                transform: scale(.8);
                transform-origin: top left;

                #slider{
                    width: 80%;
                }
                #dragItem{
                    width: 80%;
                    background-size: cover;
                }
            }
            p.legend{
                margin-top: -45px;
            }
        }
        #specialist_04{
            min-height: 1050px;
        }
        #graph_08, #graph_09, #product_11{
            .v-center{
                transform: inherit;
            }
        }

    }
    body.i18n-eng-uk{
        #intro_00{
            .paralaxElements {
                background-image: url('img/eng-uk/bgd-intro-mobile.jpg?12') !important;
            }
        }
        #emotion_01{
            h2{
                margin-bottom: 17em;
            }
        }
        #specialist_04{
            min-height: 800px !important;
        }
    }
    /*******GLOBAL******/
    body.i18n-eng-uk, body.i18n-ita-it{
        font-size: 8px;
        .container{
            .row{
                padding-left:0 !important;
                padding-right:0 !important;
                button.scrollToSection{
                    font-size: 13px;
                    padding: 1em .7em;
                }
                .no-col-sm{
                    padding-left:0;
                    padding-right:0;
                }
            }
        }
        .pathhNav{
            display: none;
        }
        h2{
            padding-left: 0;
        }
        p.pitip{
            width: 60%;
            font-size: 11px !important;
            margin-left: 50px;
            height:77vh;
        }
        .carousel{
            width:100%;
            margin-left:0;
            .item{
                width:100%;
                max-width:100%;
            }
        }
        .slides{
            min-height:568px;
        }
        #piModal{
            .modal-body{
                height: 2760px;
            }
        }
        /*******SLIDES******/

        #intro_00{
            .paralaxElements {
                background-size: cover !important;
            }
        }
        #emotion_01{
            min-height: 650px;
            h2{
                margin-top: 0em;
                span{
                    font-size: 1.6rem;
                }
            }
            p.pitip{
                width: 100%;
            }
            .paralaxElements{
                .orangeBubble, .greyBubble{
                    display: none;
                }
            }
        }
        #howmany_02{
            .blc{
                max-width: 100%;
                top: 50px;
                transform: scale(1);
            }
            p.legend{
                margin-top: 20px;
            }   
            button.scrollToSection{
                margin-top: 20px;
            }
        }
        #specialist_03{
            min-height: 800px !important;
            .doc{
                top: 150px;
                p{
                    width: 100px;
                    font-size: 11px;
                }
            }

        }
        #specialist_04{
            .infos-products{
                .infoGraph{
                    .text-right{
                        font-size: 2.5rem; 
                    }
                }
            } 
        }
        #diagnose_05{
            min-height: 900px !important;
            .whiteBox{
                h5{
                    font-size: .9rem;
                }
                ul{
                    li{
                        padding: 5px 5px 5px 15px;
                    }
                }
            }
        }

        #treatment_06{
            min-height: 800px !important;
            h2{
                font-size: 1rem;
            }
            #quoteBlock{
                padding: 30px 5px;
            }
            button.scrollToSection{
                font-size: 13px;
            }
        }

        #how_07{
            min-height: 900px !important;
        }

        #graph_08{
            min-height: 650px !important;
            h2{
                margin-bottom: 10px;
                span{
                    font-size: 1.6rem;
                }
            }
            .v-center{

                .fishbone{
                    top:100px;
                }
            }
        }

        #graph_09{
            min-height: inherit;
        }

        #timeline_10{
            min-height: 500px !important;
            .row:nth-child(2){
                height: 270px;
                .calendarContainer{
                    -ms-transform: scale(.45);
                    -webkit-transform: scale(.45);
                    transform: scale(.45);
                    transform-origin: top left;
                    top: 30px;
                }
            }
        }

        #productdesc_10-1{
            min-height: 750px !important;
            .paralaxElements {
                background-image: url('img/bgd-woosh.jpg?1234') !important;
                background-size: cover !important;
            }
            .col-xs-8{
                width: 100%;
            }
            ul.bubbleList{
                li{
                    &:before{
                        height: 25px;
                        top: -7px;
                    }
                }
            }
        }

        #product_11{
            min-height: 800px !important;
        }

        #download_13{
            min-height: 800px !important;
            li, a{
                font-size: .7rem;
            }
        }

        #pi_14{
            min-height: 3000px !important;
        }
    }
    
}

/*************************************
            iPhone 6 Landscape
*************************************/
@media only screen 
  and (min-device-width: 374px) 
  and (max-device-width: 736px) 
  //and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
    /*******GLOBAL******/
    body.i18n-ita-it{
        #intro_00{
            .paralaxElements {
                background-image: url('img/ita-it/bgd-intro.jpg') !important;
            }
        }
        #emotion_01{
            h2{
                margin-bottom: 13em;
            }
        }
        #howmany_02{
            .paralaxElements{
                background-position-x: -60px;
            }
        }
        #specialist_04{
            min-height: 710px !important;
        }
        #diagnose_05{
            min-height: 1050px !important;
        }
        #treatment_06{
            min-height: 650px !important;
            .paralaxElements{
                background-position-x: -330px;
            }
        }
        #how_07{
            .container{
                .row{
                    padding-right:50px;
                }
            }
            .paralaxElements{
                background-position-x: -250px;
            }
        }
        #graph_08, #graph_09{
            .v-center{
                transform: inherit;
            }
        }
    }
    body.i18n-eng-uk{
        #intro_00{
            .paralaxElements {
                background-image: url('img/eng-uk/bgd-intro-mobile-lg.jpg?123') !important;
            }
        }
        #emotion_01{
            h2{
                margin-bottom: 10em;
            }
        }
        #specialist_04{
            min-height: 600px !important;
        }
        #diagnose_05{
            min-height: 800px !important;
        }
        #treatment_06{
            min-height: 550px !important;
        }
    }
    body.i18n-eng-uk, body.i18n-ita-it{
        .container{
            .row{
                padding-left:60px;
                padding-right:60px;
                button.scrollToSection{
                    font-size: 15px;
                    padding: .9em 1.2em;
                    margin-top: 0;
                }
            }
        }
        .slides{
            min-height: 400px;
        }
        h2{
            span{
                display:inline-block;
                font-size: 2rem;
            }
        }
        .playListVideo{
            margin-top: 15px;
            .video{
                padding: 5px 20px !important;
                a{
                    text-decoration: none;
                    display: block;
                    .row{
                        display: inherit !important;
                        padding:0 !important;
                        .videoImage{
                            display: inherit !important;
                            img{
                                width: 100% !important;
                                height: auto !important;
                                margin: 0px !important;
                            }
                        }
                        .text{
                            padding-left: 0;
                            display: inherit !important;
                        }
                    }
                }
            }
        }
        #piModal{
            .modal-body{
                height: 1500px;
            }
        }
        /*******SLIDES******/
        #intro_00{
            .paralaxElements {
                background-size: cover !important;
            }
        }
        #emotion_01{
            min-height: 500px !important;
        }
        #howmany_02{
            min-height: 500px !important;
        }
        
        #specialist_03{
            min-height: 600px !important;
            .doc{
                top: 70px;
                p{
                    width: 150px;
                    font-size: 11px;
                }
            }
            
        }
        #specialist_04{
            h2{
                line-height: 1.1;
                span{
                    font-size: 1.7em;
                }
            }
            .infos-products{
                .graphContainer{
                    display: none;
                    padding: 70px 70px;
                    width: 100%;
                    .graph{
                        &.lightgreen{
                            width: 180px;
                        }
                        &.mediumgreen{
                            width: 240px;
                            left: 40px;
                        }
                        &.darkgreen{
                            width: 310px;
                            left: 5px;
                        }
                    }
                }
                .infoGraph{
                    width: 100%;
                    .row{
                        padding-left:0;
                        padding-right:0;
                    }
                }
            }

        }
        #diagnose_05{
            .subtitle{
                br{
                    display: none;
                }
            }
        }

        #treatment_06{
            #quoteBlock{
                padding: 50px 10px 10px;
                blockquote{
                    font-size: 1rem;
                }
            }
        }

        #treatment_06-1{
            min-height: 700px !important;
        }
        #how_07{
            min-height: 800px;
            ul.checkedList{
                margin-right: 0;
            }
            .listTitle{
                font-size: 1rem;
            }
            
        }

        #graph_08{
            min-height: 850px !important;
            
            .v-center{
                span.round-icon{
                    margin: 20px auto 10px;
                }
                .fishbone{
                    top:60px;
                }
            }
            button.scrollToSection{
                margin-top: 20px;
            }
        }

        #graph_09{
            min-height: 850px !important;
            .v-center{
                transform: inherit;
            }
            button.scrollToSection{
                margin-top: 20px;
            }
        }

        #timeline_10{
            min-height: 650px !important;
            .row:nth-child(2){
                height: 300px;
                .calendarContainer{
                    -ms-transform: scale(.65);
                    -webkit-transform: scale(.65);
                    transform: scale(.65);
                    transform-origin: top left;
                    top: 0px;
                }
            }
        }

        #productdesc_10-1{
            min-height: 700px !important;
            
        }

        #product_11{
            min-height: 700px !important;
            h2{
                margin-bottom: 0;
            }
            .infos-products{
                .img-responsive{
                    max-width: 300px;
                    margin: 0 auto 15px;
                }
                .v-center{
                    transform: inherit;
                }
            }
            
        }

        #download_13{
            min-height:700px !important;
            .blc{
                margin-bottom: 20px;
                font-size: 1.2em;
            }
        }
        #pi_14{
            min-height: 2100px !important;
        }
    }
    
}

/*************************************
            iPhone 5 Portrait
*************************************/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 374px)
  //and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    body.i18n-ita-it{
        #emotion_01{
            min-height: 590px !important;
            h2{
                margin-bottom: 20em;
            }
        }
        #how_07{
            p.listTitle{
                br{
                    display: none;
                }
            }
            ul{
                margin-right: 0;
            }
        }
        #diagnose_05{
            min-height: 960px !important;
        }
        #how_07{
            min-height: 1000px !important;
        }
        #timeline_10{
            min-height: 700px !important;
        }

    }
    body.i18n-eng-uk{
        #emotion_01{
            min-height: 700px !important;
            h2{
                margin-bottom: 16em;
            }
            p.pitip{
                width: 100%;
            }
        }
        #timeline_10{
            min-height: 500px !important;
        }
    }
    body.i18n-eng-uk, body.i18n-ita-it{
        #piModal{
            .modal-body{
                height: 3250px;
            }
        }
        /*******SLIDES******/
        #howmany_02{
            min-height: 700px !important;
        }
        #diagnose_05{
            .whiteBox{
                a{
                    font-size: .8rem;
                }
            }
        }
        #treatment_06{
            min-height: 800px !important;
            .row:nth-child(3) .col-sm-12{
                padding-left:0;
                padding-right:0;
            }
            button.scrollToSection{
                font-size: 12px;
            }
        }
        #treatment_06-1{
            min-height: 650px !important;
        }
        #graph_08, #graph_09{
            min-height: 750px !important;
        }
        #timeline_10{
            .row:nth-child(2){
                height: 200px;
                .calendarContainer{
                    -ms-transform: scale(.37);
                    -webkit-transform: scale(.37);
                    transform: scale(.37);
                    transform-origin: top left;
                    top: 30px;
                }
            }
        }
        #productdesc_10-1{
            ul.bubbleList{
                padding-left: 0;
                li:before{
                    height: 22px;
                    top: -7px;
                }
            }
            .row:nth-child(2) .col-xs-8{
                padding-left: 0;
                padding-right:0;
            }
        }

        #pi_14{
            min-height: 3500px !important;
        }
    }
}

/*************************************
            iPhone 5 Landscape
*************************************/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  //and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    body.i18n-ita-it{
        #howmany_02{
            .paralaxElements{
                background-position-x: -60px;
            }
        }
        #how_07{
            .container{
                .row{
                    padding-right:50px;
                }
            }
            .paralaxElements{
                background-position-x: -250px;
            }
            p.listTitle{
                br{
                    display: none;
                }
            }
            ul{
                margin-right: 0;
            }
        }
    }
    body.i18n-eng-uk {
        .container{
            .row{
                padding-left: 50px;
                button.scrollToSection{
                    font-size: 12px;
                }
            }
        }
        .slides{
            min-height: 320px !important;
        }
        #piModal{
            .modal-body{
                height: 1700px;
            }
        }
        #intro_00{

        }
        #emotion_01{
            min-height: 400px !important;
            h2{
                margin-bottom: 8em;
                span{
                    font-size: 1.6rem;
                }
            }
            p.pitip{
                width: 60%;
            }
        }
        #treatment_06{
            min-height: 700px !important;
        }
        #timeline_10{
            .row:nth-child(2){
                padding-left: 15px;
            }
        }
        #productdesc_10-1{
            .row:nth-child(2){
                .col-xs-8{
                    padding-left:0;
                    ul.bubbleList{
                        padding-left: 0;
                        li{
                            &:before{
                                height: 25px;
                                top: -10px;
                            }
                            span{
                                font-size: .8rem;
                            }
                        }
                    }
                }
            }
        }
        #pi_14{
            min-height: 2500px !important;
        }
    }
    
}
