.clear {
    clear:both;
}

$darkGreen: #457c1f;
$mediumGreen: #6fab40;
$lightGreen: #a9db81;


/*****
INTRO
******/
#intro_00{
    &.slides .content {
        bottom: 10%;
        top: inherit;
        transform: none;
    }
    
    .paralaxElements{
        background:url('img/bgd-intro.jpg') no-repeat center center;
        background-size: cover;
    } 
}

/******
EMOTION
*******/

#emotion_01{
    .paralaxElements{
        background:url('img/bgd-01.jpg') no-repeat top center;
        background-size: cover;
        .orangeBubble{
            background:url('img/emotion_orange-bubble.png') no-repeat top center ;
            background-size: cover;
        }
        .greyBubble{
            background:url('img/emotion_grey-bubble.png') no-repeat top center ;
            background-size: cover;
        }
 
    }
    h2{
        margin-bottom: 20em;
    }
    .btn-next{
        margin: auto;
    }
}

/*******
HOW MANY
********/
#howmany_02{
    .paralaxElements{
        background:url('img/bgd-02.jpg') no-repeat center center; 
        background-size: cover;
    }
    h2{
        margin-bottom: 1em;
    }
    
    .blc {
        background-color: #ffffff;
        border: 1px solid #cccccc;
        max-width: 60%;
        min-height: 250px;
        transform: scale(0.95);
        text-align: center;

        h3 {
            background: rgba(0, 0, 0, 0) linear-gradient(to right, #6fab40, #96d464) repeat scroll 0 0;
            color: #ffffff;
            font-size: 1.6em;
            margin-bottom: 0;
            margin-top: 0;
            padding: 1.5em;
            text-align: center;
        }
        #slider{
            &.ui-state-disabled{
                opacity: 1;
            }
            &:before, &:after{
                position: absolute;
                top: -20px;
                font-size: 1em;
                color: #a9a8a9;
            }
            &:before{
                content:"0%";
                left: -5px;
            }
            &:after{
                content:"100%";
                right: -15px;
            }
            span.ui-slider-handle{
                top: -50px;
                span{
                    color: #fff;
                    font-family: "Roboto", "Arial", sans-serif;
                    font-size: 15px;
                    position: absolute;
                    left: -8px;
                    top: 5px;
                    width: 30px;
                    display: block;
                    text-align: center;
                }
                
                &:before{
                    position: absolute;
                    content: '';
                    display: block;
                    width: 42px;
                    height: 50px;
                   background: url('img/dragBtn.png') bottom center;
                   left: -15px;
                   top: -5px;
                   z-index: -10;
                }
                &.onresults:before{
                   background: url('img/dragBtn.png') top center;
                }
            }
        }
        

        #dragItem {
            width:405px;
            height:60px;
            margin:auto;
            display:block;
            position:relative;
            background: url('img/men_grey.jpg');

            .men {
                width:405px;
                height:60px;
                margin:auto;
                position:absolute;
                display:block;
            }
            #men_green {
                background: url('img/men_green.jpg');
                z-index: 2;
            }
        }

        p#quizz_answer {
            color: #ff6903;
            text-align:center;
            font-size:1.5em;
            display: none;
            font-weight: bold;
            padding: 0 15px;
        }
    } 

}

/********
SPECIALIST
*********/
#specialist_03{
    .paralaxElements{
        background:url('img/bgd-03.jpg') no-repeat center center;
        background-size: cover;
    }
    h2{
        line-height: 1.3;
    }
    
    .doc {
        position: relative;
        top: 240px;
        .circle {
            background:$darkGreen;
            border-radius:50%;
            width:100px;
            line-height:100px;
            color:white;
            margin:auto;
            text-align:center;
            font-size:16px;

        }

        p {
            width:100px;
            font-size:12px;
            color:#a9a8a9;
            margin-top: 10px;
        }
    }
    .bullesSms {

        .bulle {
            background-color:$lightGreen;
            border-radius: 15px 15px 15px 0px;
            color: #fff;
            margin: 10px 1em;
            padding: 20px;
            position: relative;

            &:after{
                content: '';
                position: absolute;
                border-style: solid;
                border-width: 7px 10px 0px 0px;
                border-color: transparent $lightGreen;
                display: block;
                width: 0;
                z-index: 1;
                left: -10px;
                bottom: 0%;
                }
        }
        
        &:last-child {
            margin-bottom:30px;
        }

    }
}

#specialist_04{
    .paralaxElements{
        background:url('img/bgd-03.jpg') no-repeat center center;
        background-size: cover;
    }
    h2{
        line-height: 1.3;
    }
    
    .infos-products {
        display: inline-block;
        margin-bottom: 1.5em;
        width: 100%;

        .graphContainer {
            width: 40%;
            position: relative;
            padding: 70px 100px;
            .graph{
                position: absolute;
                &.lightgreen {
                    background-image: url("img/bgd-graph.png?1234");
                    background-repeat: no-repeat;
                    background-size: 100% auto;
                    box-sizing: initial;
                    width: 240px;
                } 
                &.mediumgreen {
                    box-sizing: initial;
                    width: 300px;
                    top: 40px;
                    left: 70px;
                }
                &.darkgreen {
                    box-sizing: initial;
                    width: 370px;
                    top: 0px;
                    left: 35px;
                }
            }
        }

        .infoGraph {
            width: 60%;
            display:inline-block;
            vertical-align:top;

            span {
                font-size:4.8em;
                font-weight:bolder;
                top: -10px;
                position:relative;
                &.dark-green {
                    color:$darkGreen;
                }
                &.medium-green {
                    color:$mediumGreen;
                }
                &.light-green {
                    color:$lightGreen;
                }
            }
        }
    }
}

/*******
DIAGNOSE
********/
#diagnose_05{
    .whiteBox{ 
        h5{
            @include linear-gradient(to right, #6fab40, #95d464); 
            margin: 0;
            padding: 15px;
            &:before{
                content: '';
                display: table-cell;
                background: url('img/document_icon.png') no-repeat center;
                background-size: cover;
                width: 30px;
                height: 30px;
                position: relative;
                float: left;
                top: 5px;
                left: -5px;
                margin: 0 10px;
            }
        }
        a{
            color:#ffffff;
            text-decoration: none; 
        }
        .list-group{
            border:0;
            margin-bottom: 0px; 
            .list-group-item{ 
                border: 0;
                //padding: 15px 15px 15px 50px;  
                //background-image: url('img/icon-files.png');
                //background-repeat: no-repeat;
                //background-size: 30px;
                //background-position: center left 10px; 
                //color: #a9a8a9;
                //font-size: 1.2em;  
            }
        }
        ul{
        padding: 1.5em 3em;
            li{
                font-size:1.4em;
                color:#a9a8a9;
                list-style: none;
                position: relative;
                span.glyphicon{
                    left: -.5em;
                    top: .8em;
                    position: absolute;
                    color: #96d465;
                }
            }
        }
        
    }


    .paralaxElements{
        background:url('img/bgd-04.jpg') no-repeat center center;
        background-size: cover;
    }
    .content-text{
        margin-left: 100px;
        width: 45%;
        margin-bottom: 2em; 
    }
    &.slides .content {
        height: 80%; 
    }

}
/********
TREATMENT
*********/
#treatment_06{
    .paralaxElements{
        background:url('img/bgd-05.jpg') no-repeat center center;
        background-size: cover;
    }
    #quoteBlock{
        padding: 50px 20px 10px;
        text-align: center;
        margin-top: 20px;
        p{
            font-size: .7rem;
            margin-bottom: 0px;
        }
        blockquote{
            padding:5px 0 5px;
        }
    }
    .content-text{
        margin-left: 100px;
        width: 45%;
        margin-bottom: 2em; 
    }
    &.slides .content {
        height: 80%; 
    }

}

#treatment_06-1{
    .paralaxElements{
        background:url('img/bgd-woosh.jpg') no-repeat center center;
        background-size: cover;
    }
}


/****
HOW
****/ 
#how_07 {
    .paralaxElements{
        background:url('img/bgd-06.jpg') no-repeat center center;
        background-size: cover;
    }
    h2{
        margin-bottom: 1em; 
    }
    ul{
        padding-left: 1.5em;
        margin-right: 4em;
        li{
            font-size:1.5em;
            color:#a9a8a9;
            list-style: none;
            margin-bottom: .8em;
            position: relative;
            span.glyphicon{
                left: -1.5em;
                position: absolute;
                color: #96d465;
            }
        }
    }
    .contentGraph{
        width: 30%; 
        float:left;
    }
    .contentGraphTwin{
        width:70%;
        float:right;
    }
}

/****
GRAPH
*****/ 
#graph_08{
    .paralaxElements{
        background:url('img/woosh.jpg') no-repeat center center;
        background-size: cover;
    }
    h2{
        margin-bottom: 1em; 
    }
    .fishbone{
        display: block;
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 130px;
        left: 0;
        &:before{
            content:''; 
            display: block;
            width: 1em;
            height: 1em;
            position: absolute;
            top: 8em;
            left: 50%;
            transform: translateX(-50%);
            background-color: #e6e2de;
            border-radius: 10px;
        }
        &:after{
            content:'';
            position: absolute;
            width: 1px;
            background-color: #e6e2de;
            height: calc(100% - 8em);
            left: 50%;
            bottom: 0;
        }
    }

}

#graph_09{
    .paralaxElements{
        background:url('img/woosh.jpg') no-repeat center center;
        background-size: cover;
    }
    .fishbone{
        display: block;
        height: 500px;
        width: 100%;
        position: absolute;
        top: -500px;
        left: 0;
        &:after{
            content:'';
            position: absolute;
            width: 1px;
            background-color: #e6e2de;
            height: calc(100% - 8em);
            left: 50%;
            bottom: 0;
        }
    }

}

/*******
TIMELINE
********/ 
#timeline_10{
    position:relative;
    .paralaxElements{
        background:url('img/woosh.jpg') no-repeat center center;
        background-size: cover;
    }
    .calendarContainer{
        width: 800px;
        height: 450px;
        margin: 0 auto;
        text-align: center;
        position: relative;
        background:url('img/bgd-calendar.png?124') no-repeat top right 230px;
        background-size: auto 100%;
    }
    .calendarBubbles{
        border-radius: 50%;
        border: 3px solid #fff;
        position: absolute;
        p{
            color: #fff;
            font-weight: 700;
            font-size: .8rem;
            text-align: center;
            .bubbleNumber{
                font-weight: 900;
            }
            .bubbleFor{
                text-transform: uppercase;
                font-size: .7rem;
                font-weight: 400;
            }
        }
        &.leftTopBubble{
            width: 160px;
            height: 160px;
            background-color: #b1e488;  
            padding:20px 15px;
            top: 21px;
            left: 95px;
            .bubbleNumber{
                font-size: 3.5rem;
                line-height: .5em;
                color: #d0f3b3;
            }
            .bubbleFor{
                color: #457c1f;
            }
            &:after{
                content: "";
                width: 331px;
                height: 8px;
                background: url('img/calendarline1.png') no-repeat;
                background-size: cover;
                position: absolute;
                left: 73px;
                bottom: -10px; 
            }
        }
        &.leftBottomBubble{
            width: 205px;
            height: 205px;
            background-color: #96d465;  
            padding:30px 10px;
            bottom: 15px;
            left: 0px;
            .bubbleNumber{
                font-size: 5rem;
                line-height: .5em;
                color: #b1e488;
            }
            .bubbleFor{
                color: #457c1f;
            }
            &:after{
                content: "";
                width: 215px;
                height: 13px;
                background: url('img/calendarline2.png') no-repeat;
                background-size: cover;
                position: absolute;
                left: 108px;
                top: -15px; 
            }
        }
        &.rightTopBubble{
            width: 175px;
            height: 175px;
            background-color: #ff9600;  
            padding:20px 4px;
            top: -98px;
            right: 152px;
            .bubbleNumber{
                font-size: 3.5rem;
                line-height: .5em;
                color: #ffb714;
            }
            .bubbleFor{
                color: #ff5900;
            }
            &:after{
                content: "";
                width: 133px;
                height: 188px;
                background: url('img/calendarline3.png') no-repeat;
                background-size: cover;
                position: absolute;
                right: 82px;
                top: 168px; 
            }
        }
        &.rightBottomBubble{
            width: 205px;
            height: 205px;
            background-color: #ffb714;  
            padding:30px 10px;
            bottom: 117px;
            right: 10px;
            .bubbleNumber{
                font-size: 5rem;
                line-height: .5em;
                color: #fcd974;
            }
            .bubbleFor{
                color: #ff5900;
            }
            &:after{
                content: "";
                width: 263px;
                height: 11px;
                background: url('img/calendarline4.png') no-repeat;
                background-size: cover;
                position: absolute;
                right: 95px;
                bottom: -15px; 
            }
        }
    }
    table.calendar{
        background-color: rgba(255,255,255,.95);
        border: 1px solid #e0dedd;
        color: #a9a8a9;
        font-size: .75rem;
        font-weight: 100;
        -moz-box-shadow: 0px 0px 15px 0px #eeeeee;
        -webkit-box-shadow: 0px 0px 15px 0px #eeeeee;
        -o-box-shadow: 0px 0px 15px 0px #eeeeee;
        box-shadow: 0px 0px 15px 0px #eeeeee;
        filter:progid:DXImageTransform.Microsoft.Shadow(color=#eeeeee, Direction=NaN, Strength=15);
        margin: auto;
        transform: translateY(50%);
        top: -55px;
        position: relative;
        tr{
            height: 35px;
            th{
                letter-spacing: 1.5px;
                border-bottom: 0;
                font-weight: 100;
            }
            &:nth-child(2)>td{
                background-color: #e2e0e0;
                color: #fff;
            }
            &:last-child{
                td{
                    height: 60px;
                }
            }
            th, td{
                width: 35px;
                text-align: center;
            }
            td{
                &.greenSmBubble span, &.yellowSmBubble span{
                    display: block;
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    font-weight: 400;
                    color: #fff;
                    padding:5px;
                }
                &.greenSmBubble span{
                    background-color: #ceedb5;   
                }
                &.yellowSmBubble span{
                    background-color: #e6c66a;
                }
            }
        }
        
    }
    
    h2{
        margin-bottom: 1em; 
    }
    h3{
        color:#307622;
        font-weight: bold;
        font-size: 2.6em;
    }
    ul{
        padding-left: 1.5em;
        margin-right: 4em;
        li{
            font-size:1.5em;
            color:#a9a8a9;
            list-style: none;
            margin-bottom: .8em;
            position: relative;
            span.glyphicon{
                left: -1.5em;
                position: absolute;
                color: #96d465;
            }
        }
    }
    .contentHelp{
        padding-left: 100px;
        width: 40%; 
    }
}

/******
PRODUCT
*******/ 
#productdesc_10-1{
    .paralaxElements{
        background:url('img/bgd-sofa.jpg') no-repeat center center;
        background-size: cover;
    }

    ul.bubbleList{
        list-style-type: none;
        padding-left: 10px;
        margin: 30px 0;
        li{
            margin-bottom: 10px;
            &:before{
                content: "•";
                font-size: 300%; /* or whatever */
                padding-right:5px;
                display: block;
                float: left;
                color: #FF902B;
                height: 30px;
                position: relative;
                top: -5px;
            }
            span{
                font-size: 1.25rem;
                color: #a9a8a9;
                margin-bottom: .8em;
            }
        }
    }
    p{
        font-size: .8rem;
        strong{
            font-size: 1rem;
        }
    }
    p.orange{
        margin-top: 15px;
    }
}

#product_11{
    .paralaxElements{
        background:url('img/woosh.jpg') no-repeat center center;
        background-size: cover;
    }
    h2{
        margin-bottom: 1em; 
    }
    h3{
        color:#307622;
        font-weight: bold;
        font-size: 2.6em;
        text-align: center;
    }
    ul{
        padding-left: 1.5em;
        li{
            font-size:1.5em;
            color:#a9a8a9;
            list-style: none;
            margin-bottom: .8em;
            position: relative;
            span.glyphicon{
                left: -1.5em;
                position: absolute;
                color: #96d465;
            }
        }
    }
    .infos-products {
        ul{
            li{
                span:nth-child(2){
                    font-weight: 700;
                    font-size: 1rem;
                }
            }
        }
    }
}

/************
GREEN SECTION
************/ 
section.greenSection{
    background-color: #6fab40;
    padding: 3em; 
    a{
        color: #ffffff;
        text-decoration: underline;
        font-weight: 100;
    }
    p{
        text-align: center;
        max-width: 600px; 
        margin: auto;
        color: #ffffff;
        font-size: 2.8em;
        font-weight: 700;
        margin-bottom: 1em;  
        &.tips{ 
            font-size:1.1em; 
            margin-bottom: 0em;
        }
    }
}

/*******
DOWNLOAD
********/ 
#download_13{
    .blc{ 
        background-color:#ffffff;
        -moz-box-shadow: 0px 0px 10px 0px #cfcfcf;
        -webkit-box-shadow: 0px 0px 10px 0px #cfcfcf;
        -o-box-shadow: 0px 0px 10px 0px #cfcfcf;
        box-shadow: 0px 0px 10px 0px #cfcfcf;
        filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=NaN, Strength=10); 
        h3{
            @include linear-gradient(to right, #6fab40, #95d464); 
            margin: 0;
            padding: 15px;
            text-align: center; 
            color: #ffffff;
            font-size: 2.2em; 
        }
        a{
            font-size: 1.3em;
            color:#747272;
            text-decoration: underline; 
        }
        .list-group{
            border:0;
            margin-bottom: 0px; 
            .list-group-item{ 
                border-left: 0px; 
                border-right: 0px;
                border-top-right-radius: 0px;
                border-top-left-radius: 0px;
                padding: 15px 15px 15px 50px;  
                background-image: url('img/icon-files.png');
                background-repeat: no-repeat;
                background-size: 30px;
                background-position: center left 10px;   
                &:first-child{
                    
                }
                 &:last-child{
                    border-bottom-right-radius: 0px;
                    border-bottom-left-radius: 0px;
                    border-bottom: 0px;
                }
            }
        }
        .media{
            margin-top: 0;
            padding: 10px;
            border-bottom: 1px solid #ddd; 
            .media-body{
                vertical-align: middle; 
            }
        }
    }
    #footer{
        text-align: center;
        padding-left:0;
        padding-top: 50px;
        p{
            font-size: 1.3em;
            color: #747272;
        }
    }
}

/***********************
PRESCRIBING INFORMATIONS
************************/ 
#pi_14{
    min-height: 1300px;
    &.slides{
        background-color: #ffffff;
        #footer{
            text-align: center;
            color: #777;
            margin-top: 70px;
            p{
                text-align: center;
                font-weight: 700;
                &.jobcode{
                    font-weight: normal;
                    color: #ccc;
                }
            }
        }
    
    }
    padding: 20px;
    h3{
        color: #f45700;
        text-align: center;
        font-weight: normal;
        margin-bottom: 30px;
    }
    .columns{
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
        -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
        -moz-column-gap: 40px; /* Firefox */
        column-gap: 40px;
    }
    p{
        color: #666;
        font-size:.65rem;
        text-align: justify;
        a{
            text-decoration: underline;
            color: #666;
        }
    }
    p.green{
        padding: 7px 0;
        &:before{
            content: "";
            display: block;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color:#3fb34f;
            float: left;
            margin-right: 10px;
        }
    }
    p.infoBox{
        &.lightOrangeBckgrd{
            background-color: #feefe2;
            color: #666666;
            padding: 10px 20px;
            font-weight: bold;
            text-align: center;
            font-size: .75rem;
            margin-bottom: 0;
        }
        a{
            color: grey;
            text-decoration: underline;
        }
    }
    .paralaxElements{
        background-color: #ffffff;
    }
}