/*****DRUPAL ****/
.region #toolbar{
	z-index: 10000000 !important;
	position: inherit;
}
html{
	font-size: 100%;
	body{
		font-size: 10px;
		font-family: 'Roboto', sans-serif;
		padding-top: 0 !important;
		.onlyUK{
			display: none;
		}
		.itOnly{
			display: none;
		}
		sup{
			position: inherit;
			vertical-align: top;
			font-size: 55%;
			top: 0;
			line-height: inherit;
		}
		p{
			font-size: 1.5em;
			color: #a9a8a9;
			&.orange{
				color:#f45700;
			}
			&.bold{
				font-weight: 700;
			}
			&.bigger{
				font-size: 1.2rem;
			}
			&.legend{
				font-size: 1.1em;
			}
		}
		blockquote{
			text-align:center;
			border:0;
			color: #6fab40;
			font-weight: 700;
		}
		.listTitle{
			font-size: 1.2rem;
			font-weight: 700;
		}
		.v-center {
		  position: relative;
		  transform: translateY(50%);
		}
	} 
}


.container{
	&>.row{
		padding-left: 100px; 
	}
	.col-no-pd{
		padding-left:0;
		padding-right:0;
	}
	.whiteBox{
		background-color:#ffffff;
        -moz-box-shadow: 0px 0px 10px 0px #cfcfcf;
        -webkit-box-shadow: 0px 0px 10px 0px #cfcfcf;
        -o-box-shadow: 0px 0px 10px 0px #cfcfcf;
        box-shadow: 0px 0px 10px 0px #cfcfcf;
        filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=NaN, Strength=10); 
        margin-bottom: 20px;
	}
	.safetyInfo{
		p{
			width: 100%;
			border: 1px solid #457c1f;
			color: #457c1f;
			padding: 20px;
			font-size: .75rem;
		}
	}
	
	.playListVideo{
		margin-top: 15px;
		.video{
			padding: 0 15px;
			a{
				text-decoration: none;
				.row{
					display: table;
					.videoImage{
						display: table-cell;
						img.BC-thumbnail{
							margin: 10px;
						}
					}
					.text{
						padding-left: 0;
						display: table-cell;
						vertical-align: middle;
						h3.BC-title{
							color:#307622;
	        				font-weight: bold;
	        				font-size: 1.1rem;
						}
						p.BC-description{
							font-size: .9rem;
						}
					}
				}
			}
		}
	}
}

nav{
	padding-top: 1em; 
	.logo{
		float: left; 
		img{
			width: 80px; 
		}
	}
	ul.nav{
		float: right;
		li{
			text-transform: uppercase;
			font-size: 1.2em; 
			a{
				color:#a9a8a9;
				cursor: pointer;
			}
		}
	}
	#navbar{
		#lilly{
			padding: 10px 15px;
			float: right;
			img{
				width: 50px;
				height: auto;
			}
		}
	}
	.glyphicon{
		font-size:2.5em;
	}
}
.pathhNav{
	position: fixed; 
	top: 50%;
	transform: translateY(-50%);
    width: 70px;
    z-index: 10000;
	ul{
		padding: 0; 
		li{
			list-style: none;
			position:relative;
			span.puce{
				display: block;
				width: 1em;
				height: 1em;
				margin-left: 1.5em;
				@include border-radius(1em);
				background-color: #ffffff;
				margin-bottom: 2em;
				border:1px solid #ffb714;
				position: relative;
				&:after{
					content:"";
					display: block;
					height: 2em;
					width: 2px;
					background: #f7d281;
					position: absolute;
					bottom: -2em;
					left: 50%;
					transform: translateX(-50%);
				}
			}
			
			&:last-child{
				span:after{
					display:none;
				}
			}
			&.index0{
				span.puce{
					width: 4em;
					height: 4em;
					margin-left: 0;
					@include border-radius(4em); 
					background-image:url('img/pathNavHome.png');
					background-repeat: no-repeat;
					background-size: 100%;
				background-color: transparent;
				}
				p.title{
					left:4em;
				} 
			}
			&.current{
				span.puce{
					background-color: #ff5900; 
				}
				
			}
			p.title{
				content: attr(data-title);
				text-transform:uppercase;
				position:absolute;
				left:3em;
				font-size:1.2em;
				padding:10px; 
				background-color: rgba(0,0,0,0.5);
				color:#ffffff;
				display:none;    
				top: 50%;
    			transform: translateY(-50%);
    			width: 225px;
    			&::before{
					 content:"";
					 display:block;
				    border-style: solid;
				    border-width: 8px 8px 8px 0;
				    border-color: transparent rgba(0,0,0,0.5) transparent transparent;
				    position: absolute;
				    left: -8px;
				    top: 50%;
    				transform: translateY(-50%)
    			}
			}
			&:hover{
				cursor:pointer;
				.title{
					display:block;
				}

			} 
		}
	}
}
.slides{
    min-height: 750px; 
	height: 100vh; 
	background-color: #e6e2de;
	position:relative;
	overflow: hidden;  
	  
	.content{
		position:absolute;
		top:50%;
		transform: translateY(-50%);
		left:0;
	    z-index: 1000; 
	}
	.paralaxElements{
		top:0;
		left:0;
		width:100%;
		height:100%;
		display:block;
		background-color:#e6e2de;
	    position: absolute;
		div{
			top:0;
			left:0;
			width:100%;
			height:100%;
			display:block;
			position: absolute;
			z-index: 0;
		}
	}  
	
}

.text-center{
	text-align: center;
	h1{
		display: inline-block;
	}
}


.carousel {
    width: 100%;
    height: 220px;
    position: relative;
    margin-left: 100px;
    display: block;
    float: left;
    margin-bottom: 3em; 
}
.carousel .item{
	position: absolute;
	width: 500px;
    max-width: 70%;
	min-height: 210px; 
	background-color: #ffffff; 
	left: 30px;  
	transform: scale(0.95);
	opacity:0.7;  
	border:1px solid #cccccc;
	&.active{
		left:0;
		background-color: #ffffff;
		z-index: 9999;
		transform: scale(1);
		opacity: 1;
	}
	h3{
		@include linear-gradient(to right, #6fab40, #96d464);
		margin-top: 0;
		padding: 1.5em; 
		text-align: center;
		font-size: 1.6em; 
		color: #ffffff;
		margin-bottom: 0;
	}
	h4{
		font-family: 'Nothing You Could Do', cursive;
		width: 70%;
		text-align: center;
		margin:auto;
        position: relative;
	} 
	.progressBar{
		height: 0.5em;
		width: 100%;
		display: block;
		background-color: #c7f1a4;
	    margin-bottom: 1em; 
		.progress33{
			height: 100%;
			width: 33%;
			display: block;
			background-color: #457c1f;   
		}
		.progress33{
			height: 100%;
			width: calc(100% / 3);
			display: block;
			float: left; 
			background-color: #457c1f; 
			border-right: 0.1em solid #ffffff;
		}
	}
    .btn-prevCarousel{
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 50%;
        left: -1em; 
        transform: translateY(-50%);
        background-image: url('img/btn-prev-carousel.png');
        background-repeat: no-repeat;
        background-size: 100%;
        cursor: pointer;
    } 
    .btn-nextCarousel{
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 50%;
        right: -1em;
        transform: translateY(-50%);
        background-image: url('img/btn-next-carousel.png');
        background-repeat: no-repeat;
        background-size: 100%;
        cursor: pointer;
    }
    .quizz{
        margin-top: 1.5em;  
    }
    button{
        @include linear-gradient(to right, #f6f6f5, #ffffff); 
        color:#a9a8a9;
        font-size:1.6em;
        border: 1px solid #cccccc;
        padding: .5em 1.2em;
        border-radius: 1.5em;
        margin-right: 1em;  
        &:last-child{
             margin-right: 0em;  
        }
        &:hover{
            @include linear-gradient(to right, #ffffff, #f6f6f5); 
        }
    }
    .showAnswer button{
        &.true{
            border-color:green;
            background-image: url('img/goodAnswer.png');
                background-repeat: no-repeat;
                background-size: 18px;
                background-position: center right 1px; 
        }
        &.false{
             border-color:red; 
            background-image: url('img/wrongAnswer.png');
                background-repeat: no-repeat;
                background-size: 18px;
                background-position: center right 1px;   
        }
    }
} 

/***TITLES***/
h2{ 
	display: inline-block;
	line-height: 1.15; 
	font-size: 2.3em;  
	color:#a9a8a9;
	font-weight: 900;  
	span{
		display:inline-block;
		font-size:2.1em;  
		color:#ff9600;
		background: -webkit-linear-gradient(-180deg, #fcb431, #ff5a00);  
	  	-webkit-background-clip: text;
	  	-webkit-text-fill-color: transparent; 
	}
}
h5{
	font-size: 1rem;
	text-align: left; 
    color: #ffffff;
    font-weight: 500;
    line-height: 1.3rem;
}

/** BOOSTRAP MODAL **/
.modal{
	    z-index: 10050 !important;
    .modal-content{
        border-radius: 0;
        .modal-header {
            @include linear-gradient(to right, #6fab40, #96d464); 
            border-bottom: 0;
            .modal-title{
                color:#ffffff; 
                text-align: center;
            }
        }
        ol{
            padding-left: 20px;
            li{
                font-size: 1.1em;
                color:#457c1f;
                font-weight: bold;
                span{
                    color:#747272;
                    font-weight: normal;
                } 
            }
        }
        p{
        	font-size: 1.1em; 
        }
    }
}



// DRAG FOR MEN AREA

#men_green {
    background: url("img/men_green.jpg");
    z-index: 2;
}

#men_grey {
    background: url("img/men_grey.jpg");
    z-index: 1;
}


.men {
	width: 405px;
    height: 60px;
    display: block;
    position: absolute;
    opacity: 0;
}
#slider {
	width: 405px;
	margin: auto;
	margin-top: 70px;
	margin-bottom:10px;
	height: .5em;
	.ui-widget-header{
		@include linear-gradient(to right, #467d20, #a9db81);
	}
	
}



button{
	white-space:inherit !important;
}

/******BRIGHTCOVE POPIN******/
.BC-playlistOverlay{
	position:fixed;
	z-index: 10000;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	background-color: #ffffff;
	padding:1em;
	max-width: 100%;
	width: 800px;
	display: none; 
	#BC-contentOverlay{
		a#closeBtn {
		    display: block;
		    width: 30px;
		    height: 30px;
		    background-color: #ffffff;
		    position: absolute;
		    top: 0;
		    right: 0;
		    z-index: 1;
		    cursor: pointer;
		    color: #ff5a01 !important;
		    text-decoration: none !important;
		    text-align: center;
		    &:before{
		    	content: "×";
			    font-size: 21px;
			    font-weight: 700;
		    }
		}
	}
	.descriptionBC{
		h3{
            font-size: 1.8em;
            color:#457c1f;
            font-weight: bold;
        }
        p{
            font-size:1.3em;
            color: #a9a8a9;
        }
	}
}

body.BC-overlay{
	&:before{
	    content: '';
	    width: 100%;
	    height: 100%;
	    display: block;
	    background-color: rgba(0,0,0,0.7);
	    position: fixed;
	    z-index: 10000;
	    top: 0;
	}
}
/*** CSS récupéré de gardasil pour le loading ***/
.BC-overlayLoading{background-color:rgba(0,0,0,.5);width:100%;height:100%;position:fixed;top:0;z-index:1000000}.BC-overlayLoading .spinner{width:80px;height:80px;position:relative;margin:100px auto;margin-top:50vh;transform:translateY(-50%)}.BC-overlayLoading .double-bounce1,.BC-overlayLoading .double-bounce2{width:100%;height:100%;border-radius:50%;background-color:#fff;opacity:.5;position:absolute;top:0;left:0;-webkit-animation:Cb 2s infinite ease-in-out;animation:Cb 2s infinite ease-in-out}.BC-overlayLoading .double-bounce2{-webkit-animation-delay:-1s;animation-delay:-1s}@-webkit-keyframes Cb{0%,to{-webkit-transform:scale(0)}50%{-webkit-transform:scale(1)}}@keyframes Cb{0%,to{transform:scale(0);-webkit-transform:scale(0)}50%{transform:scale(1);-webkit-transform:scale(1)}}