/* ==========================================================================
   PLAYER SKIN : TURQUOISE
   ========================================================================== */

.reveal{
	font-family: "Oswald", Helvetica, sans-serif;
	font-weight: lighter;
}

.reveal .slide-background{
	background-position: bottom right;
	background-size: contain;
	background-color: #1E2735;
}
.reveal.center .slides,
.reveal.center .slides section{
	min-height: 100% !important;
	min-width: 100% !important;
}
.reveal.center .slides section{
	padding: 0px 5%;
}
.reveal nav.slide-menu {
	background-color: #2B4754;
	background-image: url('img/skin_bg-menu.jpg');
	background-size: 100%;
	width: 100%;
	position: absolute;
}
.reveal ul.underSection{
	text-align: center;
	margin: 10px 0px 15px;
}
.reveal ul.underSection>li{
	display: inline-block;
	margin: 0px 5px;
}
.reveal a{
	color: #2B4754;
}

.reveal .slide-menu-button{
	left: 10px;
	top: 10px;
	bottom: 60px !important;
}

.reveal ol.slide-menu-toolbar{
	display:none !important;
}
.reveal li#close{
	color: #fff;
	list-style-type: none;
	font-size: 30px;
	font-weight: lighter;
	position: absolute;
	top: 10px;
	left: 10px;
}
.reveal .slide-menu-items,
.reveal .slide-menu-item{
	border: none !important;
}
.reveal .active-menu-panel li{
	background-color: transparent;
	width: 0px;
	height: 16px;
	border-radius: 50%;
	margin: 0 auto;
	border: 2px solid #56ede3 !important;
	color: #56ede3;
	margin-bottom: 10px;
}
.reveal .active-menu-panel li.selected{
	background-color: #56ede3 !important;
	width: 0px;
	height: 16px;
	border-radius: 50%;
	border: 2px solid #56ede3 !important;
}
.reveal .slide-menu-item, .reveal .slide-menu-item-vertical{
	padding: 7px 17px 7px 12px !important;
}

	/* CONTROLS */
	.reveal .controls{
		background: #1e303b; /* Old browsers */
		background: -moz-linear-gradient(left,  #1e303b 0%, #21464f 50%, #1e303b 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left,  #1e303b 0%,#21464f 50%,#1e303b 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right,  #1e303b 0%,#21464f 50%,#1e303b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e303b', endColorstr='#1e303b',GradientType=1 ); /* IE6-9 */

		width: 100%;
		height: 60px;
		bottom: 0;
		right: 0;
	}
	.reveal .controls button{
		opacity: .3;
	}
	.reveal .controls .navigate-up,
	.reveal .controls .navigate-down{
		display: none;
	}
	.reveal .controls .navigate-left,
	.reveal .controls .navigate-right,
	.reveal .controls .toggle-sound{
		top: 20px;
		width: 27px;
		height: 21px;
	}
	.reveal .controls .navigate-left{
		left: 30px;
		border: none;
		background: url('img/skin_control-left.png') no-repeat;
	}
	.reveal .controls .navigate-right{
		left: 74px;
		border: none;
		background: url('img/skin_control-right.png') no-repeat;
	}
	.reveal .controls .toggle-sound{
		right: 30px;
		border: none;
		background: url('img/skin_control-speaker.png') no-repeat;
	}
	.reveal .controls .enabled{
		opacity: 1;
	}

	/* PROGRESS */
	.reveal .progress{
		bottom: 25px;
		width: 85%;
		left: 10%;
		height: 6px;
		background-color: #2a637a;
	}
	.reveal .progress span{
		box-sizing: border-box;
		background-color: #1e2734;
		border: 2px solid #2a637a;
	}
	.reveal a.slideButton{
		display: block;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		background-color: transparent;
		background: url('img/skin_btn-slide.png') no-repeat;
		position: absolute;
		z-index: 9;
		top: -8px;
		left: -8px;
	}
	.reveal span.slideButtonActive{
		display: block;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		background-color: transparent;
		position: absolute;
		z-index: 10;
		top: -8px;
		left: 0px;
		background: #56ede3;
	}
	.reveal span#mobileProgress{
		position: absolute;
		top:12px;
		left: 120px;	
	}
	.reveal span#mobileProgress>span{
		color: #56ede3;
	}

	/*AUDIO*/
	.reveal .audio-controls{
		visibility: hidden !important; 
	}